<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="footer" th:fragment="footer" class="navmio">
	<h6>Programacion Visual-EDM-UNJU-2021</h6>
	<div class="container">
		<div class="row">
		</div>
		<div class="row">
			<h6>Comunicaciones</h6>
		</div>
		<div class="row">
			<div class="col-md-3">
				<a href="#" style="text-decoration:none;color:black"><i class="fab fa-facebook"></i> Facebook</a>
			</div>
			<div class="col-md-3">
				<a href="#" style="text-decoration:none;color:black"><i class="fab fa-instagram"></i> Instagram</a> 	
			</div>
			<div class="col-md-3">
			 	<i class="fas fa-envelope"></i> Gmail:empresa@gmail
			</div>
			<div class="col-md-3">
			 	<i class="fas fa-phone"></i> Telefono: 871276
			</div>
		</div>
	</div>
</div>
</body>
</html>