<!DOCTYPE html>
<html>
<body>
<div id="header" th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/home">
    <img src="/img/empresa-logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Empresa
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/home"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/cliente/mostrar"><i class="fas fa-users"></i> Clientes</a>
	      </li>
	      <li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-box"></i> Productos</a>
				  <div class="dropdown-menu">
		      		<a class="dropdown-item" href="/producto/mostrar">Crear</a>
		      		<a class="dropdown-item" href="#">Accion1</a>
		      		<a class="dropdown-item" href="#">Accion2</a>
	      		  </div>
	      </li>
	       <li class="nav-item">
	        <a class="nav-link" href="/producto/ventas"><i class="fas fa-truck"></i> Ventas</a>
	      </li>
	    </ul>
  </div>
</nav>
</div>
</body>
</html>