<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css"
	th:href="@{/css/misestilos.css}">
<link th:rel="stylesheet" type="text/css"
	th:tref="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"
	th:tref="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<meta charset="UTF-8">
<title>Ventas</title>
</head>
<body class="defecto">
	<div class="container">
		<div th:insert="layout/header :: header"></div>
			<div class="row">
					<div th:each="c : ${productos}">
						<div class="col-sm-6">
							<div class="card" style="width: 14.99999rem;margin-top: 10px">
		  						<img src="/img/producto.jpg" class="card-img-top" alt="imagen de producto">
								<div class="card-body">
									<h5 class="card-title" th:text="${'Codigo: ' + c.codigo}">Id</h5>
									<p class="card-text" th:text="${'Nombre: '+c.nombre}">Nombre</p>
									<p class="card-text" th:text="${'Precio: '+c.precio}">Precio</p>
									<a class="stretched-link btn btn-primary"><i class="fas fa-shopping-cart mr-2"></i> Comprar</a>
								</div>
							</div>
						</div>
					</div>
			</div>
		<div th:insert="layout/footer :: footer"></div>
	</div>
</body>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>